{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{# {% extends "menu.html.twig" %}
{%
  set classes = [
    'nav',
    'navbar-nav',
    'text-center'
  ]
%} #}
<nav class=" navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container">
        <button class="navbar-toggler" id="nav-button" type="button">
            <i class="lni-menu"></i>
        </button>
        {% if logo %}
            <img src="{{ logo }}" alt="Logo" width="100" height="100" class="d-inline-block align-text-top">
        {% endif %}
        <div class="collapse navbar-collapse justify-content-end " id="navbarCollapse">
            <ul class="navbar-nav flex-row">
                {% if items %}
                    {% for item in items %}
                        <li class="nav-item" {{ item.attributes }}>
                            <a class="nav-link page-scroll" href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>











