<body>

	{{ page.navigation }}
	{{ page.content }}



	{# <div class="mx-auto text-center col-6 box">
				<div class="">
					<h1 class="h1 text-center cls">
						IT Consulting
																																				                    & Services</h1>
		
		
					<div class="col-2 my-4">
						<h1 class="border-top  border-dark  border-3 ">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
					</div>
		
					<div class="text-center">
						<p class="">I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or
																																															                        double click
																																															                        me to add your own content and make changes to the font. I’m a great place for you to tell a
																																															                        story and let your users know a little more about you.</p>
		
						<div class="text-center">
							<button class="btn btn-primary text-center">+</button>
							<button class="btn btn-danger text-center bbb">find more</button>
						</div>
					</div>
		
		
				</div>
			</div> #}

	<!-- front close -->


	<!-- center -->
	<!-- <div class="put">
			            <div class="head">
			                <h1 class="www text-light"><b>Our Services</b></h1>
			                <p class="head1 text-light">I'm a paragraph.click here to add your own text and edit me.</p>
			                <p class="head2 text-light">It's easy.just click "Edit Text" or double click me.</p>
			                <div class="container">
			                    <div class="row">
			                        <div class="col-sm">
			                            <div class="card  mx-2  hero" style="width: 18rem;">
			                                <p class="card-body text-primary ">Cloud Solutions</p>
			                                <p class="card-text">I'm a paragraph. Click here to add your own text and edit me. It’s
			                                    easy.
			                                    Just
			                                    click
			                                    “Edit Text” or double click me.</p>
			                            </div>
			                            <div class="col-sm">
			                                <div class="card  mx-2 chat" style="width: 18rem;">
			                                    <p class="card-body text-primary ">Managed IT Services</p>
			                                    <p class="card-text">I'm a paragraph. Click here to add your own text and edit me.
			                                        It’s easy.
			                                        Just
			                                        click “Edit Text” or double click me</p>
			                                </div>
			                                <div class="col-sm">
			                                    <div class="card  mx-2 bot" style="width: 18rem;">
			                                        <p class="card-body text-primary ">Disaster Recovery</p>
			                                        <p class="card-text">I'm a paragraph. Click here to add your own text and edit
			                                            me. It’s easy.
			                                            Just
			                                            click “Edit Text” or double click me.</p>
			
			                                    </div>
			
			                                </div>
			
			
			
			                            </div>
			                            <!-- center close-->
	<!-- <div class="container">
			                                <div class="row">
			                                    <div class="col-sm">
			                                        <div class="card  mx-2 hero1 " style="width: 18rem;">
			                                            <p class="card-body text-primary  ">Cloud Desktop</p>
			                                            <p class="card-text">I'm a paragraph. Click here to add your own text and
			                                                edit me. It’s
			                                                easy. Just
			                                                click “Edit Text” or double click me.</p>
			                                        </div>
			                                        <div class="col-sm">
			                                            <div class="card  mx-2 chat1 " style="width: 18rem;">
			                                                <p class="card-body text-primary  ">Network Solutions</p>
			                                                <p class="card-text">I'm a paragraph. Click here to add your own text
			                                                    and edit me. It’s
			                                                    easy. Just
			                                                    click “Edit Text” or double click me</p>
			                                            </div>
			                                            <div class="col-sm">
			                                                <div class="card  mx-2 bot1 " style="width: 18rem;">
			                                                    <p class="card-body text-primary  ">Support Consulting</p>
			                                                    <p class="card-text">I'm a paragraph. Click here to add your own
			                                                        text and edit me.
			                                                        It’s
			                                                        easy. Just
			                                                        click “Edit Text” or double click me.</p>
			
			                                                </div>
			
			                                            </div>
			                                        </div>
			                                    </div>
			
			
			
			                                </div>
			                            </div>
			                        </div>  -->


	<!-- center1 -->
	<!-- <div class="type">
			        <p class="texting">Testimonials</p>
			        <p class="heading">“I'm a testimonial. Click to edit me and add text that says something nice about you and your
			            services.”</p>
			        <p class="testing">Jason Strauss<br>CEO of ML Associates</p>
			
			    </div> -->
	<!-- center3 -->
	<!-- <div class="read">
			
			        <p class="fam">
			            Ready to find out more?</p>
			        <div class="lead">
			            <div class="letter">
			                <h1 class="best"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
			            </div>
			
			            <div class="text1">
			                <p>I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or double click me to
			                    add your own content and make changes to the font. I’m a great place for you to tell a story and let
			                    your users know a little more about you.</p>
			
			                <div class="base1">
			                    <button class="plus1">+</button>
			                    <button class="find1">find more</button>
			                </div>
			            </div>
			
			        </div>
			    </div> -->


	<!-- <footer -->
	<!-- <div class="foot">
			        <h1 class="foot1">Contact Us</h1>
			        <div class="boot">
			            <div class="end">
			                <div class="side">
			                    <p class="foot2">First Name*</p>
			                    <div class="load"></div>
			                </div>
			                <div class="side1">
			                    <p class="foot3">Last Name*</p>
			                    <div class="load1"></div>
			                </div>
			            </div>
			            <p class="mail">Email</p>
			            <div class="mail1"></div>
			            <p class="msg">Message</p>
			            <div class="msg1"></div>
			            <p class="sub">Submit</p>
			
			        </div>
			        <div class="pull">
			            <p class="push">Address. 500 Terry Francine Street, San Francine, CA 94158</p>
			            <p class="push1"> Tel. 123-456-7890</p>
			            <p class="push2"> Email. info@mysite.com</p>
			        </div>
			        <p class="last">© 2035 by ITG. Powered and secured by Wix</p>
			    </div> -->
		<section id="services" class="services section-bg"> <div class="section-title fire">
			<h2 class="text-center">
				Our Services</h2>
			<p class="text-center fade-out-up ">I'm a paragraph.click here to add your own text and edit me.</p>
			<p class="text-center">It's easy .just click "Edit Text" or double click me.</p>
		</div>
		<div class="container my-3 " data-aos="fade-up">
			<div class="row">
				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 my-3 " data-aos="zoom-in" data-aos-delay="100">
					<div class="icon-box">
						<div class="icon">
							<i class="bx bxl-dribbble"></i>
						</div>
						<h4>
							<a href="">Cloud Solutions</a>
						</h4>
						<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																																																	                                Text” or double click me..</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 my-3" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box">
						<div class="icon">
							<i class="bx bx-file"></i>
						</div>
						<h4>
							<a href="">Managed IT Services</a>
						</h4>
						<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																																																	                                Text” or double click me.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 my-3" data-aos="zoom-in" data-aos-delay="300">
					<div class="icon-box">
						<div class="icon">
							<i class="bx bx-tachometer"></i>
						</div>
						<h4>
							<a href="">
								Disaster Recovery</a>
						</h4>
						<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																																																	                                Text” or double click me.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 my-3" data-aos="zoom-in" data-aos-delay="400">
					<div class="icon-box">
						<div class="icon">
							<i class="bx bx-layer"></i>
						</div>
						<h4>
							<a href="">
								Cloud Desktop</a>
						</h4>
						<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																																																	                                Text” or double click me.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 my-3" data-aos="zoom-in" data-aos-delay="400">
					<div class="icon-box">
						<div class="icon">
							<i class="bx bx-layer"></i>
						</div>
						<h4>
							<a href="">Network Solutions</a>
						</h4>
						<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																																																	                                Text” or double click me.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 my-3" data-aos="zoom-in" data-aos-delay="400">
					<div class="icon-box">
						<div class="icon">
							<i class="bx bx-layer"></i>
						</div>
						<h4>
							<a href="">
								Support Consulting</a>
						</h4>
						<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																																																	                                Text” or double click me.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0  my-3" data-aos="zoom-in" data-aos-delay="400">
					<div class="icon-box">
						<div class="icon">
							<i class="bx bx-layer"></i>
						</div>
						<h4>
							<a href="">Content Writing</a>
						</h4>
						<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																																																	                                Text” or double click me.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 my-3" data-aos="zoom-in" data-aos-delay="400">
					<div class="icon-box">
						<div class="icon">
							<i class="bx bx-layer"></i>
						</div>
						<h4>
							<a href="">Research Analyst</a>
						</h4>
						<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																																																	                                Text” or double click me.</p>
					</div>
				</div>

			</div>

		</div>
	</section>
	<section id="cta" class="cta">
		<div class="container" data-aos="zoom-in">


			<div class=" text-center text-lg-start ">
				<h5 class="text-center ">Testimonials</h5>
				<p class="text-center">
					“I'm a testimonial. Click to edit me and add text that says something nice
																																																							                        about you and your services.”</p>
				<p class=" text-center clr">Jason Strauss<br>
					CEO of ML Associates</p>

			</div>


		</div>
	</section>

	<div class="mx-auto text-center col-6 box">
		<div class="">
			<h1 class=" text-center cls">
				Ready to find out more?</h1>


			<div class="col-2 my-4">
				<h1 class="border-top  border-dark  border-3 ">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
			</div>

			<div class="text-center">
				<p class="">I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or
																																																							                        double click
																																																							                        me to add your own content and make changes to the font. I’m a great place for you to tell a
																																																							                        story and let your users know a little more about you.</p>

				<div class="text-center">
					<button class="btn btn-primary text-center">+</button>
					<button class="btn btn-danger text-center">find more</button>
				</div>
			</div>


		</div>
	</div>
	<!-- <footer> -->
	<!-- <footer>
			            <div class=" bg ">
			
			                <h1 class="text-center">Contact Us</h1>
			                <div class="row">
			                    <div class="col-2">
			                        <p class="mx-5 ">First Name*</p>
			                    </div>
			                    <div class="">
			                        <p class="mx-5">Last Name*</p>
			                    </div>
			                  </div> -->
	<!-- <div class="d-flex " >
			                    <div class="">
			                        <p class="mx-5 ">First Name*</p>
			                       
			                    </div>
			                    <div>
			                        <p class="mx-5">Last Name*</p>
			                        
			                    </div>
			                </div> -->


	<!-- </div> -->
		<section class="get-in-touch"> <h1 class="title text-center">Contact Us</h1>
		<form class="contact-form row">
			<div class="form-field col-lg-6">
				<input id="name" class="input-text js-input" type="text" required>
				<label class="label" for="name">First Name*</label>
			</div>
			<div class="form-field col-lg-6 ">
				<input id="company" class="input-text js-input" type="text" required>
				<label class="label" for="company">Last Name*</label>
			</div>
			<div class="form-field col-lg-6 ">
				<input id="email" class="input-text js-input" type="email" required>
				<label class="label" for="email">E-mail</label>
			</div>


			<div class="form-field col-lg-12">
				<input id="message" class="input-text js-input" type="text" required>
				<label class="label" for="message">Message</label>
			</div>
			<div class="form-field col-lg-12 text-center">
				<input class="submit-btn " type="submit" value="Submit">
			</div>


		</div>
	</form>
</body></section></footer></body></html>
