<body>
			{{ page.navigation }}
			{{ page.content }}
<div class="pic"></div>

<div class="mx-auto text-center col-6 box">
	<div class="">
		<h1 class="h1 text-center cls">
			IT Consulting & Services</h1>
		<div class="col-2 my-4">
			<h1 class="border-top  border-dark  border-3 ">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
		</div>

		<div class="text-center">
			<p class="">I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or
																																								                        double click
																																								                        me to add your own content and make changes to the font. I’m a great place for you to tell a
																																								                        story and let your users know a little more about you.</p>

			<div class="text-center">
				<button class="btn btn-primary text-center">+</button>
				<button class="btn btn-danger text-center bbb">find more</button>
			</div>
		</div>


	</div>
</div>
	<section id="services" class="services section-bg">
	<div class="container my-3 " data-aos="fade-up">
		<div class="row">
			<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 my-3 " data-aos="zoom-in" data-aos-delay="100">
				<div class="icon-box">
					<div class="icon">
						<i class="bx bxl-dribbble"></i>
					</div>
					<h4>
						<a href="">Cloud Solutions</a>
					</h4>
					<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																												                                Text” or double click me..</p>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 my-3" data-aos="zoom-in" data-aos-delay="200">
				<div class="icon-box">
					<div class="icon">
						<i class="bx bx-file"></i>
					</div>
					<h4>
						<a href="">Managed IT Services</a>
					</h4>
					<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																												                                Text” or double click me.</p>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 my-3" data-aos="zoom-in" data-aos-delay="300">
				<div class="icon-box">
					<div class="icon">
						<i class="bx bx-tachometer"></i>
					</div>
					<h4>
						<a href="">
							Disaster Recovery</a>
					</h4>
					<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																												                                Text” or double click me.</p>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 my-3" data-aos="zoom-in" data-aos-delay="400">
				<div class="icon-box">
					<div class="icon">
						<i class="bx bx-layer"></i>
					</div>
					<h4>
						<a href="">
							Cloud Desktop</a>
					</h4>
					<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																												                                Text” or double click me.</p>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 my-3" data-aos="zoom-in" data-aos-delay="400">
				<div class="icon-box">
					<div class="icon">
						<i class="bx bx-layer"></i>
					</div>
					<h4>
						<a href="">Network Solutions</a>
					</h4>
					<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																												                                Text” or double click me.</p>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 my-3" data-aos="zoom-in" data-aos-delay="400">
				<div class="icon-box">
					<div class="icon">
						<i class="bx bx-layer"></i>
					</div>
					<h4>
						<a href="">
							Support Consulting</a>
					</h4>
					<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																												                                Text” or double click me.</p>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0  my-3" data-aos="zoom-in" data-aos-delay="400">
				<div class="icon-box">
					<div class="icon">
						<i class="bx bx-layer"></i>
					</div>
					<h4>
						<a href="">Content Writing</a>
					</h4>
					<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																												                                Text” or double click me.</p>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 my-3" data-aos="zoom-in" data-aos-delay="400">
				<div class="icon-box">
					<div class="icon">
						<i class="bx bx-layer"></i>
					</div>
					<h4>
						<a href="">Research Analyst</a>
					</h4>
					<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
																																																												                                Text” or double click me.</p>
				</div>
			</div>

		</div>

	</div>
</section>
<section id="cta" class="cta">
	<div class="container" data-aos="zoom-in">


		<div class=" text-center text-lg-start ">
			<h5 class="text-center ">Testimonials</h5>
			<p class="text-center">
				“I'm a testimonial. Click to edit me and add text that says something nice
																																								                        about you and your services.”</p>
			<p class=" text-center clr">Jason Strauss<br>
				CEO of ML Associates</p>

		</div>


	</div>
</section>

<div class="mx-auto text-center col-6 box">
	<div class="">
		<h1 class=" text-center cls">
			Ready to find out more?</h1>


		<div class="col-2 my-4">
			<h1 class="border-top  border-dark  border-3 ">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
		</div>

		<div class="text-center">
			<p class="">I'm a paragraph. Click here to add your own text and edit me. click “Edit Text” or
																																								                        double click
																																								                        me to add your own content and make changes to the font. I’m a great place for you to tell a
																																								                        story and let your users know a little more about you.</p>

			<div class="text-center">
				<button class="btn btn-primary text-center">+</button>
				<button class="btn btn-danger text-center">find more</button>
			</div>
		</div>


	</div>
</div>
	<section class="get-in-touch"> <h1 class="title text-center">Contact Us</h1>
	<form class="contact-form row">
		<div class="form-field col-lg-6">
			<input id="name" class="input-text js-input" type="text" required>
			<label class="label" for="name">First Name*</label>
		</div>
		<div class="form-field col-lg-6 ">
			<input id="company" class="input-text js-input" type="text" required>
			<label class="label" for="company">Last Name*</label>
		</div>
		<div class="form-field col-lg-6 ">
			<input id="email" class="input-text js-input" type="email" required>
			<label class="label" for="email">E-mail</label>
		</div>


		<div class="form-field col-lg-12">
			<input id="message" class="input-text js-input" type="text" required>
			<label class="label" for="message">Message</label>
		</div>
		<div class="form-field col-lg-12 text-center">
			<input class="submit-btn " type="submit" value="Submit">
		</div>


	</div>
</form></section></footer></body></html>
